/**

@packacge : Nyimak ID - Make Me Happy
@verison  : Beta Development
@author   : Nyimak ID  Developer

*/
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.html") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.html") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.html") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.html") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.html") format("truetype");
  font-weight: 700;
}

@font-face {
    font-family: "Comforta";
    src: url("../font/comforta/Comfortaa-Light.ttf") format("ttf"), url("../font/comforta/Comfortaa-Light.ttf") format("ttf"), url("../font/comforta/Comfortaa-Light.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Comforta";
    src: url("../font/comforta/Comfortaa-Regular.ttf") format("ttf"), url("../font/comforta/Comfortaa-Regular.ttf") format("ttf"), url("../font/comforta/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Comforta";
    src: url("../font/comforta/Comfortaa-Bold.ttf") format("ttf"), url("../font/comforta/Comfortaa-Bold.ttf") format("ttf"), url("../font/comforta/Comfortaa-Bold.ttf") format("truetype");
    font-weight: 700;
}

body{
    padding: 0px;
    margin: 0px;
    background: url(../images/bg.jpg) center top repeat-x;
}

h1 {
    margin-top: 0px;
    font-size: 72px;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 30px;
}

p {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
    font-family: Roboto;
    font-weight: 300;
}

.title-app {
    color: #ffffff;
}